<%- include('../includes/head.ejs')%>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/test.css">
<script src="/validations/altest.js"></script>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" style="margin-right: 60px"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item dropdown" style="margin-right: 60px">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Tests</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" onclick="myFunction(this)" style="cursor: pointer;"
                        title="banking">Banking</a>
                    <a class="dropdown-item" onclick="myFunction(this)" style="cursor: pointer;"
                        title="railway">Railway</a>
                    <a class="dropdown-item" onclick="myFunction(this)" style="cursor: pointer;"
                        title="police">Police</a>
                </div>
            </li>
            <li class="nav-item" style="margin-right: 60px"><a class="nav-link" href="elements.html">Elements</a></li>
            <li><a href="#" class="btn btn-primary"
                    style="border-radius: 23px; margin-bottom: 6px; padding-bottom: 10px;padding-left: 10px">Sign
                    Out</a></li>
        </ul>
    </nav>

    <div class="container">
        <header style="padding-top: 80px;">
            <h3>Banking Tests</h3>
        </header>
        <hr><br>

        <div class="row 15%">
            <div class="col">
                <a href="www.google.com" style="text-decoration: none;">
                    <section class="border rounded pt-3 pl-3">
                        <h3>S.B.I PO</h3>
                        <ol style="color: #474747">
                            <li>Time: </li>
                            <li>Negative Mark: </li>
                            <li>Section: </li>
                        </ol>
                    </section>
                </a>
            </div><br>

            <div class="col">
                <a href="www.google.com" style="text-decoration: none;">
                    <section class="border rounded pt-3 pl-3">
                        <h3>U.B.I PO</h3>
                        <ol style="color: #474747">
                            <li>Time: </li>
                            <li>Negative Mark: </li>
                            <li>Section: </li>
                        </ol>
                    </section>
                </a>
            </div>
            <div class="col">
                <a href="www.google.com" style="text-decoration: none;">
                    <section class="border rounded pt-3 pl-3">
                        <h3>U.C.O PO</h3>
                        <ol style="color: #474747">
                            <li>Time: </li>
                            <li>Negative Mark: </li>
                            <li>Section: </li>
                        </ol>
                    </section>
                </a>
            </div>
        </div><br>


    </div>


    <!-- Footer -->
    <!-- <footer id="footer">
            <div class="container">
                <section class="links">
                    <div class="row">
                <div class="row">
                    <div class="8u 12u$(medium)">
                        <ul class="copyright">
                            <li>&copy; Untitled. All rights reserved.</li>
                            <li>Design: <a href="https://www.facebook.com/subhankar.tripathy.3">by SUBHANKAR TRIPATHY</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer> -->
    <%- include('../includes/end.ejs')%>